@font-face {
  font-family: 'Impact';
  src: 
		url('../fonts/impact.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Myra4FCaps';
  src: 
		url('../fonts/myra4fcapsbold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
