@font-face {
  font-family: 'Impact';
  src: 
		url('../fonts/impact.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'myra_4f_caps_bold';
	src: local('☺'), url('../fonts/myra_4f_caps_bold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

