.footer
	&__connect
		&-row
			display: flex
			justify-content: space-between
			padding: 28px 0
		&-phone, &-mail
			font-family: $main-ff
			font-size: 20px
			font-weight: 700
			color: #353535
			text-decoration: none
			transition: all ease .25s
			&:hover
				color: $main-color
		&-copyright
			margin: 0
			text-transform: uppercase
			font-family: $main-ff
			font-size: 14px

			
.fa-phone-alt
	margin-right: 10px