.new
	padding-top: 100px
	padding-bottom: 100px
	&__content
		display: flex
		flex-direction: column
		align-items: center
		justify-content: space-between
	&__title
		font-family: $main-ff
		text-transform: uppercase
		font-size: 36px
		font-weight: 700
		color: $main-color
	&__slider
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		padding-bottom: 190px
	&__card
		padding: 33px
		border: 18px solid $main-color
		flex-basis: 42%
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		&-left
			flex-basis: 40%
		&-right
			flex-basis: 50%
		&-buy
			display: flex
			justify-content: space-between	
	&__icon
		color: $color-ff
		transition: all ease .25s
		stroke: $main-color
		&:hover, &:active
			color: $main-color
	&__button
		padding: 15px
		border: 2px solid #5d5d5d
		border-radius: 25px
		background: transparent
		cursor: pointer
		font-family: $main-ff
		font-size: 16px
		text-transform: uppercase
		color: #5d5d5d
		transition: all ease 1.25s 
		&:hover
			border: 2px solid $main-color
			color: $light
			background-color: $main-color